body {
  background: #fff;
  min-width: 320px;
  line-height: 1.5;
  font-size: 20px;
  font-family: sans-serif;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
}

p {
  color: #747474;
}

button {
  cursor: pointer;
}

form {
  padding: 20px 40px;
}

input,
textarea,
select,
img,
button {
  width: 100%;
}

input,
textarea,
select,
button,
a {
  transition: 300ms ease;
}