#glcnf-container {
    display: flex;
    flex-wrap: wrap;
}

#glcnf-container .part {
    flex-grow: 1;
    flex-basis: 300px;
    height: 100%;
    width: 50%;
    /* border: 1px solid red; */
}

#glcnf-container .part .content {
    display: flex;
    flex-flow: column nowrap;
}
#glcnf-container .option-item {
    padding: 15px;
    margin: 7px 0;
    background: #fff;
}


.sindu-table th {
    padding: 8px;
}

.sindu_dragger td,
.sindu-table td {
    padding: 16px 8px;
    color: #1e1e1e;
}

.sindu_dragger tr,
.sindu-table tr {
    background: #fff;
    margin: 4px 0;
}

.glcnf-table {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

.glcnf-modal {
    display: none;
    padding: 30px;
    background: #fff;
}

